@use '../../styles/_Theme.scss' as theme;

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid theme.$color-secondary;
  border-radius: 12px;
  padding: 0.5rem;
  width: 90%;
  height: auto;
  margin: 1rem auto;
  box-shadow: 0px 4px 8px theme.$color-secondary-dark;
  background-color: theme.$color-black;
 &:hover {
    transition: transform 0.2s ease-in-out;
    transform: translateY(-4px);
  }
    a{
    color: hsl(220, 42%, 61%);
    border-bottom: 2px solid theme.$color-secondary-dark;
    width: fit-content;
    &:hover{
      transition: 0.3s;
      color: hsl(220, 42%, 71%);
      border-bottom: 2px solid theme.$color-secondary-light;
      transform: scale(1.05);
    }
    }
  }

  .cardImage {
    width: 100%;
    height: auto;
    border: 2px solid theme.$color-secondary;
    border-radius: 10px;
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0; // 
    gap: 1.2rem;
  }

  .cardTitle {
    margin: 0;
    font-size: 1.3rem;
    color: theme.$color-secondary-light;
  }

  .cardDescription {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: theme.$color-white;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal;
  }


  // quando a tela for >= 768px (tablet/desktop), muda pra row
  @media (min-width: 768px) {
    .card{
      flex-direction: row;
      text-align: left;
      gap: 1rem;
    }
    .education{width: 90%;}
    .cardImage {width: 50%;}
    .cardTitle {font-size: 1.4rem;text-align: center;}
    .cardDescription {font-size: 1.1rem;}
  }

    /* Small desktop / laptop */
    @media (min-width: 1024px) {
      .card{padding: 1rem;}
      .cardTitle {font-size: 1.6rem;}
      .cardDescription {font-size: 1.3rem;}
    }

    /* Large desktop */
    @media (min-width: 1440px) {
      .card{
        padding: 1.2rem;
        margin-top: 4rem;
      }
        .cardImage {width: 50%; height: 15rem;}
        .cardTitle {font-size: 2.4rem;}
        .cardDescription {font-size: 1.8rem;}
    }

    @media (min-width: 2560px) { 
      .card{
        padding: 2rem;
        gap: 2rem;
        border-radius: 30px;
        border: 5px solid #ccc;
      }
        .cardImage {width: 50%; height: 27rem;}
        .cardTitle {font-size: 3.8rem;}
        .cardDescription {font-size: 3rem;}
    }

    @media (min-width: 3840px) { 
      .card{
        padding: 3rem;
        gap: 3rem;
      }
        .cardImage {width: 50%; height: 40rem;}
        .cardTitle {font-size: 6rem;}
        .cardDescription {font-size: 4rem;}
    }



 
