@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

$color-primary: hsl(254, 95%, 37%);
$color-primary-light: hsl(256, 100%, 70%);
$color-primary-dark: hsl(254, 100%, 19%);
$color-secondary: hsl(50, 100%, 50%);
$color-secondary-light: hsl(50, 100%, 70%);
$color-secondary-dark: hsl(50, 100%, 30%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-text: #7e7e7e;
$font: 'Oswald', Arial, sans-serif;









